@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/* Variable setup */
:root {
  /* colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 4rem;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  margin-bottom: 2em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--very-dark-magenta);
}

.title {
  width: 80%;
  margin-bottom: 0.75em;
}

.sub-text {
  color: var(--dark-grayish-magenta);
}

.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container:last-child,
.star-rating-container:last-child,
.buyer-review-container:last-child {
  margin-bottom: 0;
}

.star-rating-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em 0;
  border-radius: 0.5em;
  background-color: var(--light-grayish-magenta);
}

.stars-container {
  margin-bottom: 0.5em;
}

.star {
  margin-right: 0.5em;
}

.star-rating-text {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.buyer-review-container {
  margin-bottom: 1em;
  padding: 2em;
  background: var(--very-dark-magenta);
  border-radius: 0.5em;
}

.buyer-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.info {
  margin-left: 1.5em;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--white);
}

.verified {
  color: var(--soft-pink);
}

.review {
  font-weight: 500;
  color: var(--light-grayish-magenta);
}

/* @media screen and (min-width: 1440px) {
  body {
    
  }
} */
